name: build

on: 
  push: 
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml 
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: susmithagundu
          password: ${{ secrets.DOCKERHUB_KEY }}
      - name: Build and publish docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: susmithagundu/repo2:1.1
